<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title> <%=roomname%> Videocall</title>
</head>
<body>

    <h1>you have joined  <%=roomname%> videochat</h1>
    <div class="VIDEO-GRID">

    </div>
    
    <script src="js/videocall.js"></script>
</body>
</html>